
.BG-1{
    background-color:#afeee3!important;
}
.BG-2{
    background-color:#e6eff0!important;
    padding: 10;
}

.centre{
  height:80px ;
  width:80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Testimonial{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  padding-top:20px ;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  /* text-shadow: 3px 0px 0px  */
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #ff6600;
  padding: 10px 10px 10px 10px;
  border: dotted #080808 2px;
  text-decoration: none;
}

.btn:hover {
  background: #1fb542;
  background-image: -webkit-linear-gradient(top, #1fb542, #c6d934);
  background-image: -moz-linear-gradient(top, #1fb542, #c6d934);
  background-image: -ms-linear-gradient(top, #1fb542, #c6d934);
  background-image: -o-linear-gradient(top, #1fb542, #c6d934);
  background-image: linear-gradient(to bottom, #1fb542, #c6d934);
  text-decoration: none;
}
.wrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom:10px;
}
.button {
    position: absolute;
    top: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position:static;
  bottom: 0;
  left: 0;
  background:teal;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: black;
  background:#e6eff0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="number"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: black;
  background: #e6eff0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
.TA{
	height: 45px;
  width: 100%;
  outline: none;
  color: black;
  background:#e6eff0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #e6eff0;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
.Media-logo{
   display:block;
   margin: auto;
   text-align: center;
   padding-bottom:12px ;
}
.media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display:inline-block;
  text-align:center;
  line-height: 43px;
  border-radius: 5px;
  padding-top:12px;
  padding-bottom:12px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color:white;
  background-color:black!important;
  padding: 15px 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color:black;
}
footer .bottom a:hover{
  color: gold;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
.DSBG-1{
  background-color:#F8EDE3!important;
}
.DSBG-2{
  background-color: teal;
}